.bani {
  text-align: center;
  padding-top: 30px;
}
.form{
  border: 1px solid whitesmokes;
  border-radius: 10px;
  background-color: whitesmoke;
  width: 320px;
  height: 320px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 25px;
  
  
}


a{
  text-decoration-line: none;
  color: blue;
  
}

input{
  width: 320px;
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
  line-height: 10px;
  ;
}




button, button.a{
  border: 0px solid rgb(59, 105, 245);
  background-color: rgb(59, 105, 245);
  width: 320px;
  height: 30px;
  color: white;
  border-radius: 5px;
  
}

button:hover{
  cursor: pointer;
  
  
}

.buttonlink{
color: white;
font-size: 15px;
}

